<h1 class="page-title">Purchases</h1>

<section class="purchases-container">
  <% @data.each do |datum| %>
    <article class="purchase-card">
      <img class="purchase-location" src="<%= datum['location'] %>" alt="<%= datum['name'] %>">
      <h2 class="purchase-name"><%= datum['name'] %></h2>
      <p class="purchase-price"><%= datum['price'] %></p>
      <p class="purchase-description"><%= datum['description'] %></p>
      <p class="purchase-date-title">Purchase Date</p>
      <p class="purchase-date"><%= datum['purchaseDate'] %></p>
      <p class="purchase-category"><%= datum['category'] %></p>
    </article>
  <% end %>
</section>
